@using TEST_TPLUS.Service;
@* Храним метатеги + Тайатл *@
@{
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	@*Ставим динамичское название сайта, название подтягивается с БД*@
	@if (ViewBag.Title != null)
	{
		<title>@ViewBag.Title</title>
	}
	else
	{
		<title>@Config.CompanyName</title>	
	}
	@if (ViewBag.Description != null) // Подтягиваем описание сайта  cБД
	{
		<meta name="description" content=" @ViewBag.Description" />
	}
	@if (ViewBag.Keywords != null)  // Ключевые слова
	{
		<meta name="keywords" content=" @ViewBag.Keywords" />
	}
}
