@model HouseViewModel
@{
    <section id="portfolio" class="two">
        <div class="container">
            <header>
                <h2>Добавить JSON</h2>
            </header>
        </div>

        <div>
            <label for="jsonFile">Выберите файл JSON:</label>
            <div class="div-box">
                @using (Html.BeginForm("UploadFile", "House", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div>
                        <input type="file" name="jsonFile" id="jsonFile" accept=".json" />
                    </div>
                    <div>
                        <input type="submit" value="Отправить" />
                    </div>
                }
            </div>
        </div>
    </section>
}
